//GOWIN Version: V1.9.1.01Beta
//Part Number: GW1N-LV1QN48C5/I4
//Created Time: Sun Sep 22 17:12:40 2019

// LEDS
IO_LOC  "io_ledblue" 18;
IO_PORT "io_ledblue" IO_TYPE=LVCMOS33;
IO_LOC  "io_ledgreen" 17;
IO_PORT "io_ledgreen" IO_TYPE=LVCMOS33;
IO_LOC  "io_ledred" 16;
IO_PORT "io_ledred" IO_TYPE=LVCMOS33;

IO_LOC  "io_dclock" 14;
IO_PORT "io_dclock" IO_TYPE=LVCMOS33;
IO_LOC  "io_dlatch" 15;
IO_PORT "io_dlatch" IO_TYPE=LVCMOS33;
IO_LOC  "io_sdata" 13;
IO_PORT "io_sdata" IO_TYPE=LVCMOS33;

IO_LOC  "clock" 35;
IO_PORT "clock" IO_TYPE=LVCMOS33;
